NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="change-moi-en-production"
CLIENT_URL="http://localhost:5173"
SERVER_PORT=4000
VITE_API_URL="http://localhost:4000/api"
VITE_SOCKET_URL="http://localhost:4000"
VITE_DISCORD_INVITE_URL=""
DISCORD_BOT_TOKEN=""
DISCORD_GUILD_ID=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:4000/api/auth/google/callback"
